 <div class="container-fluid">
    <div class="row">
        <div class="col-md-3 p-0">
            <div class="wrapper">
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <img src="https://img.freepik.com/premium-photo/car-logo-with-curved-road_639744-30896.jpg?w=360" class="img-fluid" alt="logo">    
                    </div>
                    <h3 class="text-center">Rental Vehicles</h3>
                    <ul class="navbar-nav pt-5">
                        <li class="nav-item">
                            <a routerLink="/admin/cars" class="nav-link"><i class="fa fa-car"></i> Cars</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/bikes" class="nav-link"><i class="fa fa-motorcycle"></i> Bikes</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/add" class="nav-link"><i class="fa fa-plus"></i> Add</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/manage" class="nav-link"><i class="fa fa-cogs"></i> Manage</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/order" class="nav-link"><i class="fa fa-box"></i> Orders</a>
                        </li>
                    </ul>
            
                    <ul class="list-unstyled CTAs pt-5">
                        <li>
                            <a routerLink="#" class="download"><i class="fa fa-user-circle"></i> {{userName}}</a>
                        </li>
                        <li>
                            <a routerLink="#" class="article" (click)="logOut()"><i class="fa fa-sign-out-alt"></i> LogOut</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
